#home-page{
    .search-section{
        box-shadow: rgba(0, 0, 0, 0.12) 0px 2px 2px 0px, rgba(0, 0, 0, 0.12) 0px 2px 4px 0px;
        background: #fff;
        border-radius: 10px;
    }
    .home-banner{
        position: relative;
        img{
            object-fit: cover;
            height: 500px;
        }
        .center-container{
            height: 300px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        .auto-complete{
            position: relative;
            .autocomplete-dropdown-container{
                position: absolute;
                z-index: 999;
                width: 100%;
                background: lightgrey;
                .suggestion-item{
                    padding: 1em;
                    cursor: pointer;
                }
            }
        }
    }
}
